__pycache__/
*.pyc
*.pth
*.pt
*.pth
*.egg-info/
env/
venv/
/.idea/
/.vscode/
tcga_wsis/
data/
models/
*.faiss
filenames.npy
test_*.svs
*.svs
*.npy

kanban.txt
roadmap.txt
data/*
archive
archive/*
model_doc/*
.venv
.venv/*
.claude
.claude/*

.DS_Store
**/.DS_Store

.env.secret

**/*.svs
**/*.png
!docs/visualizations/*.png


*.sh
*.fish

backup/*